@{
    ViewData["Title"] = "Home Page";
}
<br />
<h3>Скачивание файла несколькоми способами</h3>
<h5>1. VirtualFileResult</h5>
<h5>2. PhysicalFile</h5>
<h5>1. FileContenResult</h5>
<h5>1. FileStreamResult</h5>
<table class="table">
    <tr>
        <th>
            <a asp-action="FileVirtual" class="btn btn-danger">Первый способ</a>
        </th>
        <th>
            <a asp-action="FileOpen" class="btn btn-primary">Второй способ</a>
        </th>
        <th>
            <a asp-action="FileDownArray" class="btn btn-success">Третьий способ</a>
        </th>
        <th>
            <a asp-action="FileDownload" class="btn btn-success">Четвертый способ</a>
        </th>
    </tr>

</table>

