@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<table class="table">
    <tr>
        <td>
            <a asp-page="/Privacy" class="btn btn-primary">Privacy</a>
        </td>
        <td>
            <a asp-page="/Index2" class="btn btn-success">Index2</a>
        </td>
    </tr>
</table>

