
<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <form method="post" action="~/Home/Registr">
            <label>FullName</label><br />
            <input type="text" name="user.FullName" /><br />
            <label>Email</label><br />
            <input type="text" name="user.Email" /><br />
            <label>Age</label><br />
            <input type="text" name="user.Age" /><br /><br />
            <input type="submit" value="Registr" />
        </form>
</body>
</html>