<h3>Главная страница</h3>
<a href="~/Home/Employees">
    <input type="button" class="btn btn-primary" value="List Employees">
</a>
<style>
    .btns {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
</style>